{% extends "drugapp/base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}

    <p>{{ request.session.user_logged_in }}</p>
    <p>{{ request.session.database_manager_logged_in }}</p>
    {% if request.session.user_logged_in %}
        <h1>Logged in as user</h1>
        <hr>
        <a href="{% url 'list-all-drugs' %}" type="button" class="btn btn-outline-dark btn-block">View all drugs</a>
        <a href="{% url 'drug-interactions' %}" type="button" type="button" class="btn btn-outline-dark btn-block">View
            all interactions of a specific drug</a>
        <a href="{% url 'side-effects' %}" type="button" class="btn btn-outline-dark btn-block">View all side effects of
            a specific drug</a>
        <a href="{% url 'interacting-targets' %}" type="button" class="btn btn-outline-dark btn-block">View all
            interacting targets of a specific drug</a>
        <a href="{% url 'interacting-drugs' %}" type="button" class="btn btn-outline-dark btn-block">View interacting
            drugs of a specific protein</a>
        <a href="{% url 'same-protein-drugs' %}" type="button" class="btn btn-outline-dark btn-block">View drugs that
            affect the same protein</a>
        <button type="button" class="btn btn-outline-dark btn-block">View proteins that bind the same drug</button>
        <a href="{% url 'drugs-of-side-effect' %}" type="button" class="btn btn-outline-dark btn-block">View drugs that
            have a specific side effect</a>
        <button type="button" class="btn btn-outline-dark btn-block">View the drug(s) with the least amount of side
            effects that interact with a specific protein
        </button>
        <button type="button" class="btn btn-outline-dark btn-block">View the DOI of papers and contributors</button>
        <button type="button" class="btn btn-outline-dark btn-block">View rankings of institutes according to their
            total scores (Decreasing order)
        </button>
        <button type="button" class="btn btn-outline-dark btn-block">Filter interacting targets of a specific drug
        </button>

    {% elif request.session.database_manager_logged_in %}
        <h1>Logged in as db manager</h1>
        <hr>
        <a href="{% url 'add-user' %}" type="button" class="btn btn-outline-dark btn-block">Add new user</a>
        <a href="{% url 'update-reaction-affinity' %}" type="button" class="btn btn-outline-dark btn-block">Update
            reaction affinity using Reaction IDs</a>
        <a href="{% url 'delete-drug' %}" type="button" class="btn btn-outline-dark btn-block">Delete drugs using
            DrugBank IDs</a>
        <a href="{% url 'delete-protein' %}" type="button" class="btn btn-outline-dark btn-block">Delete proteins using
            UniProt IDs</a>
        <a href="{% url 'update-contributors' %}" type="button" class="btn btn-outline-dark btn-block">Update contributors using Reaction IDs</a>
        <a href="{% url 'list-all-drugs' %}" type="button" class="btn btn-outline-dark btn-block">View all drugs listed
            in DrugBank</a>
        <a href="{% url 'list-all-proteins' %}" type="button" class="btn btn-outline-dark btn-block">View all proteins
            listed in UniProt</a>
        <a href="{% url 'list-all-side-effects' %}" type="button" class="btn btn-outline-dark btn-block">View all side
            effects listed in SIDER</a>
        <a href="{% url 'd-t-interactions' %}" type="button" class="btn btn-outline-dark btn-block">View all drug - target interactions</a>
        <a href="{% url 'list-all-papers' %}" type="button" class="btn btn-outline-dark btn-block">View all papers and their contributors listed
            in BindingDB</a>
        <a href="{% url 'list-all-users' %}" type="button" class="btn btn-outline-dark btn-block">View all users in DTBank</a>

    {% else %}
        <h1>Please log in</h1>
    {% endif %}




{% endblock content %}