{% extends "drugapp/base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>Home</h1>

    <br>
    <div class="container">
        <form action="/listDrugs/" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Drugs</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Press to see the list of drugs</button>
            </div>

            {% for d in drugs_list %}
                <p><a href="/drug/{{ d.drugbank_id }}"
                      style="color: #5f788a">{{ d.drugbank_id }}, {{ d.drug_name }}, {{ d.description }}</a></p>
            {% endfor %}

            {{ user_logged }}
        </form>

    </div>



{% endblock content %}