{% extends "drugapp/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">List all papers.</legend>
                {{ form|crispy }}
            </fieldset>
            {{ msg }}
            <ul>
                {% for p in papers %}
                    <li><p>DOI: {{ p.doi }}, Institution: {{ p.institution }}, Reaction: {{ p.reaction }}</p>
                    <p>Contributors:
                    {% for c in p.contributors %}{{ c }};
                    {% endfor %}
                    </p>
                    </li>
                {% endfor %}
            </ul>
        </form>
    </div>
{% endblock content %}