{% extends "drugapp/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Rank all institutions according to their scores.</legend>
            {{ form|crispy }}
        </fieldset>
        {{ msg }}
        <ul>
            {% for r in ranks %}
                <li>{{ r.score }}, {{ r.institute_name }}</li>
            {% endfor %}
        </ul>
    </form>
  </div>
{% endblock content %}