{% extends "drugapp/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">List all drugs that binds to the same protein.</legend>
                {{ form|crispy }}
            </fieldset>
            {{ msg }}

            <ul>
                {% for p in proteins %}
                    <h3>{{ p.protein }}</h3>
                    <ul>
                        {% for d in p.drugs %}
                            <li><a href="/drug/{{ d }}"
                                   style="color: #5f788a">{{ d }}</a></li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </ul>
        </form>
    </div>
{% endblock content %}