{% extends "drugapp/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Log In</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Login</button>
        </div>
        {% for u in user_list %}
          <h1>{{ u.username }}, {{ u.institution }}, {{ u.password }}</h1>
        {% endfor %}
        {{ user_logged }}
    </form>
  </div>
{% endblock content %}

